.login-form-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-form-login-form {
  gap: 10px;
  width: 100%;
  height: 1080px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.login-form-frame1 {
  top: 80px;
  left: 1px;
  width: 1920px;
  height: 1120px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-form-background {
  top: -15px;
  left: 0px;
  width: 1920px;
  height: 1370px;
  position: absolute;
}
.login-form-rectangle7 {
  top: 913px;
  left: -2px;
  width: 1924px;
  height: 442px;
  position: absolute;
}
.login-form-group46 {
  top: 206px;
  left: 448px;
  width: 1025px;
  height: 713px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(18, 93, 45, 1);
  border-radius: 10px;
}
.login-form-group16 {
  top: 563px;
  left: 407px;
  width: 212px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(24, 178, 79, 1);
}
.login-form-text {
  top: 10px;
  left: 73px;
  color: rgba(255, 255, 255, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-name-group {
  top: 368px;
  left: 330px;
  width: 366.0714111328125px;
  height: 93.45150756835938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-form-rectangle16 {
  top: 42px;
  left: 0px;
  width: 366px;
  height: 51px;
  position: absolute;
  border-color: rgba(106, 106, 106, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.login-form-text02 {
  left: 114px;
  color: rgba(255, 255, 255, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-color-group {
  top: 240px;
  left: 330px;
  width: 366.0714111328125px;
  height: 259px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-form-rectangle161 {
  top: 43px;
  left: 0px;
  width: 366px;
  height: 51px;
  position: absolute;
  border-color: rgba(106, 106, 106, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.login-form-text04 {
  left: 114px;
  color: rgba(255, 255, 255, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-text06 {
  top: 56.23046875px;
  left: 24.16064453125px;
  color: rgba(176, 176, 176, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-text08 {
  top: 185px;
  left: 24px;
  color: rgba(176, 176, 176, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-text10 {
  top: 232px;
  left: 173px;
  color: rgba(176, 176, 176, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-text12 {
  top: 60px;
  left: 395px;
  color: rgba(255, 255, 255, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-header {
  top: 0px;
  left: 1px;
  width: 1920px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-form-line7 {
  top: 80px;
  left: 0px;
  width: 1920px;
  height: 0px;
  position: absolute;
}
.login-form-backgroundof-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 77px;
  position: absolute;
}
.login-form-logo-group {
  top: 0px;
  left: 275.557373046875px;
  width: 278.5416564941406px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-form-text14 {
  top: 5.6843418860808015e-14px;
  left: 58.692626953125px;
  width: 220px;
  height: 82px;
  position: absolute;
}
.login-form-logo {
  top: 4px;
  left: 0px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.login-form-home {
  top: 31px;
  left: 750.0897216796875px;
  width: 78.91036224365234px;
  height: 29.215553283691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-form-text15 {
  left: 0.10892560333013535px;
  color: rgba(255, 255, 255, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-lost-pets {
  top: 31px;
  left: 970.90087890625px;
  width: 117.57429504394531px;
  height: 29.378578186035156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-form-text17 {
  left: 0.09251515567302704px;
  color: rgba(255, 255, 255, 1);
  width: 117px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-found-pets {
  top: 31px;
  left: 1236.519775390625px;
  width: 124.44026184082031px;
  height: 29.40323257446289px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-form-text19 {
  left: 0.09193724393844604px;
  color: rgba(255, 255, 255, 1);
  width: 124px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-form-adoption {
  top: 31px;
  left: 1522.0252685546875px;
  width: 113.7823715209961px;
  height: 29.36635398864746px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-form-text21 {
  left: 0.09251515567302704px;
  color: rgba(255, 255, 255, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Light;
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
